<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /framework/views/
    RewriteRule ^index\.php$ - [L]
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule . /framework/index.php?url=$1 [L,QSA]
</IfModule>
